body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;  background-size: cover;
  background-image: url(brunysixlbgv2.gif);
}

header {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px #f3f1f1;

}

nav {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

section {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  line-height: 1.5;
  color: #fff;
  text-shadow: 2px 2px #000;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px #000;
}

iframe {
  width: 100%;
  height: 900px;
  margin-top: 50px;
}
.input {
  font-family: 'Lexend', sans-serif;
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: #fff;
  border: 2px solid #000;
  width: 90%;
  height: auto;
  display: block;
  transition: all 0.3s;
}

.input:placeholder-shown+.fl {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-align: center;
}

 button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
    border-radius: 10px;
}

button:hover,
button:focus {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Glow effect on hover or focus */
}



div {
  text-align: center;
}

image-container {
    position: relative;
    display: inline-block;
}

image-container img {
    display: block;
    width: 200px; /* Adjust the width as needed */
    height: auto;
    transition: box-shadow 0.3s ease; /* Add smooth transition */
}

image-container img:hover {
    box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.7); /* White inner glow effect */
}
